.io-icon {
  color: #eae6e6;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.4rem;
}

.io-icon:hover {
  background-color: #333;
  color: greenyellow;
  box-shadow: 1px 1px #333, -1px -1px #333;
}

.io-icon30 {
  width: 3rem;
  height: 3rem;
}

.io-icon25 {
  width: 2.5rem;
  height: 2.5rem;
}
